@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>
<div>
    @using (Html.BeginForm("ShowCountries", "Countries", FormMethod.Get)) {
        @Html.DropDownList("countries")
        <input type="submit" value="See country code"/>
    }
</div>
@if (ViewBag.CountryCode != null) {
    <strong>Country code: </strong>@ViewBag.CountryCode
}

@using (Html.BeginForm("AddCountry", "Countries", FormMethod.Post)) {
    @Html.Label("Country: ")
    @Html.TextBox("Country")
<br/>
    @Html.Label("Code: ")
    @Html.TextBox("Code")
<br/>
<input type="submit" value="Add country"/>
}



